@charset "UTF-8";
/*GERAL*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

html{
    font-size: 83.5%;
    color: #ffff00;
}

body{
    background: url('../images/BACKGROUNDS/fundoPresents.jpeg') no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}
/*GERAL*/

/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: 1000;
    text-transform: uppercase;
    background-color: #00000090;
    backdrop-filter: blur(10px);
}

header nav{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav span{
    font-size: 1.5rem;
}

header nav #btn-bar{
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

header nav .bar::before{
    content: '';
    position: absolute;
    top: -10px;
    width: 30px;
    height: 4px;
    background-color: #ffff00;
    transition: all ease-in-out .3s;
}

header nav .bar{
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #ffff00;
    transition: all ease-in-out .3s;
}

header nav .bar::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 4px;
    background-color: #ffff00;
    transition: all ease-in-out .3s;
}

header nav .menu{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    background-color: #00000090;
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: all ease-in-out .3s;
}

header nav .menu a{
    width: 100%;
    color: #ffff00;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}

/*ATIVAÇÃO DO MENU*/
nav.ativado .bar{
    transform: rotate(45deg);
}

nav.ativado .bar::before, nav.ativado .bar::after{
    top: 0;
    transform: rotate(90deg);
}

nav.ativado .menu{
    height: calc(100vh - 100px);
    transition: all ease-in-out .3s;
}
/*ATIVAÇÃO DO MENU*/

/* .blur{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #00000090;
    backdrop-filter: blur(10px);
    z-index: 999;
}

nav.ativado .blur{
    height: 100%;
} */

/*HEADER*/

/*APRESENTAÇÃO INICIAL*/
.presents{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #000000, #00000010);
    backdrop-filter: blur(1px);
}

.presents h1{
    font-weight: lighter;
    text-align: center;
    font-size: 3.5rem;
}

.presents span{
    font-size: 1.3rem;
}
/*APRESENTAÇÃO INICIAL*/

/*CONCEITOS*/
#conceitos{
    position: relative;
    width: 100%;
    height: 150vh;
    color: #000;
    background-color: #ffffff90;
    backdrop-filter: blur(10px);
}

#conceitos .card{
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#conceitos .card .text{
    position: relative;
    width: 40%;
    height: 80%;
    text-align: center;
    padding: 0 10px;
    overflow: auto;
}

#conceitos .card .text h2{
    position: relative;
    font-size: 1rem;
    display: block;
    text-align: center;
    font-weight: bolder;
}

#conceitos .card .text span{
    position: relative;
    top: 10px;
    font-size: 1rem;
}

#conceitos .img{
    position: relative;
    width: 40%;
    height: 80%;
}

/*CONCEITOS (IMAGENS DE FUNDO DA DIV)*/
#conceitos .preta .img{
    background: url('../images/CARDS/tintaPreta.png') no-repeat;
    background-size: cover;
    background-position: 50%;
}

#conceitos .colorida .img{
    background: url('../images/CARDS/tintaColorida.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
}

#conceitos .sombreado .img{
    background: url('../images/CARDS/sombreadoComum.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
}

#conceitos .pontilhismo .img{
    background: url('../images/CARDS/pontilhismo.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
}

#conceitos .peles .img{
    background: url('../images/CARDS/tiposDePele.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
}
/*CONCEITOS (IMAGENS DE FUNDO DA DIV)*/

#conceitos .card .left{
    left: -50%;
    animation: origin ease-out 1s forwards;
    opacity: 0;
}

#conceitos .card .right{
    left: 50%;
    animation: origin ease-out 1s forwards;
    opacity: 0;
}
/*CONCEITOS*/

/*SWIPER*/
.swiper {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 70%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 100px #ffff0060;
}

.swiper-pagination{
    display: none;
}

.swiper-button-prev::after, .swiper-button-next::after{
    padding: 10px;
    font-weight: bolder;
    background-color: #00000090;
    color: #ffff0090;
}
/*SWIPER*/

@keyframes origin{
    100%{
        left: 0;
        opacity: 1;
    }
}